@import "main.css";

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 220px;
}

@media (max-width: 1300px) {
  .main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
  }
}

@media (max-width: 920px) {
  .main {
    display: flex;
    margin: 0px 100px;
    flex-direction: column;
  }

  .main .facebook-content {
    margin: 0px;
    text-align: center;
  }

  .main .facebook-content p {
    margin-bottom: 35px;
  }
}

.facebook-content .logo-face {
  height: 100px;
  margin-left: -24px;
  margin-bottom: -15px;
}

.facebook-content {
  max-width: 500px;
  text-align: left;
  font-size: 24px;
  margin-right: 32px;
  margin-bottom: 100px;
}

.container-login {
  height: 350px;
  width: 397px;
  background: white;
  padding: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login {
  display: flex;
  flex-direction: column;
}
.login input {
  height: 49px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid #d7d9dd;
  padding-left: 1rem;
  margin-bottom: 10px;
  font-size: 1rem;
}

.login button {
  border: none;
  background: var(--blue-face);
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.login input:focus {
  border: 1px solid var(--blue-face);
}

.login a {
  text-decoration: none;
  color: var(--blue-face);
  text-align: center;
  font-size: 0.7rem;
  margin-top: 15px;
}
.content-login p {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.btn-account {
  background: var(--verde-face) !important;
  margin-top: 4rem;
  width: 165px;
  height: 47px;
  margin: 0 auto;
  margin-top: 25px;
}

.btn-login {
  margin-top: 7px;
  height: 46px;
  font-size: 20px !important;
}

.traco {
  border-bottom: #d7d9dd 1px solid;
  margin-top: 20px;
}

.btn-login:hover {
  filter: brightness(85%);
  transition: 0.5s;
}

.btn-account:hover {
  filter: brightness(85%);
  transition: 0.5s;
}

.autoral {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.autoral a {
  text-decoration: none;
  color: black;
}
